html, button,input, select, textarea{color :#444;}

html{ 
	font-size: 1em;
	line-height: 1.4;
	 }

#wrapper{
	max-width: 900px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 200px;
	float: right; 
	border: 1px solid #ccc;
	border-radius: 40%;
	background-color: white;
	
}

header>h1,h3{font-family: coda-caption, sans-serif; font-weight: bold;}

#sep{
	border: 2px solid #444;
	max-width: 600px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
article{
	font-family: anonymous-pro, sans-serif;
}

hr{
	border:3px solid #444;
	width: 50px;
	margin-left: 0%;
}

header{
	font-family: anonymous-pro, sans-serif;
	line-height: 2px;
}


a {
	font-family: coda-caption, sans-serif;
	font-weight: bold;
	color: #444;
	text-decoration: none;
}	
footer{
    text-align: center;
    padding: 15px
}
